.newsletter-box {

    height: 16rem;
    width: 16rem;
    border: .1rem solid $color-red-BA;
    border-radius: .5rem;

    color: $color-red-BA;

    display: grid;
    justify-items: center;

    &__day {
        align-self: end;
        font-size: 7rem;
        line-height: 8.1rem;
        margin-bottom: 1rem;
    }

    &__month-year {
        align-self: start;
        font-size: 2rem;
        line-height: 2.3rem;
    }
}