.newsletter-grid {
    justify-content: center;
    grid-row: content-s/content-e;

    display: grid;
    grid-template-rows: [add-s] 4.7rem [add-e s box-s] 16rem [box-e archive-s] 1fr [archive-e e];
    grid-template-columns: [box-s archive-s] 16rem [box-e archive-e latest-s] 960px [latest-e];

    grid-column-gap: 6.1rem;

    &__button {
        grid-row: add-s/add-e;
        grid-column: latest-s/latest-e;
        justify-self: end;
        align-self: center;
        margin-right: 1rem;
    }
}