.tab-nav {
    display: grid;
    grid-template-rows: [tabs-s] 50px [tabs-e content-s] 1fr [content-e]; 

    &__tabs {
        grid-row: tabs-s/tabs-e;
        background-color: cornflowerblue;
    }   

    &__tab {

    }
}